<?xml version="1.0" ?>
<model>
    <name>tii_lab_noceil</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Aravindaraja Puthiyavinayagam</name>
        <email>aravindaraja@ssrc.tii.ae</email>
    </author>
    <description>Model of the TII Drone Testing Lab(Without Ceiling)</description>
</model>
